@model CinemaHub.Services.Data.Models.MediaResultDTO;
@using CinemaHub.Common
@{
    this.ViewData["Title"] = "Home Page";
}

@section Hero
{
    <style type="text/css">
        .slider {
            background: url(images/template/uploads/slider-bg.jpg) no-repeat;
        }
    </style>
    <div class="slider movie-items">
        <div class="container">
            <div class="row">
                <h1 style="font-family: 'Dosis', sans-serif; color: whitesmoke;">Newest Releases:</h1>
                <div class="social-link">
                    <p>Follow us: </p>
                    <a href="#"><i class="ion-social-facebook"></i></a>
                    <a href="#"><i class="ion-social-twitter"></i></a>
                    <a href="#"><i class="ion-social-googleplus"></i></a>
                    <a href="#"><i class="ion-social-youtube"></i></a>
                </div>
                <div class="slick-multiItemSlider">
                    @foreach (var item in Model.Results)
                    {
                        <div class="movie-item">
                            <div class="mv-img">
                                <a asp-controller="Media" asp-action="@($"{item.MediaType}s")" asp-route-id="@item.Id"><img src="@item.ImagePath" alt="" width="285" height="437"></a>
                            </div>
                            <div class="title-in">
                                <h6><a  asp-controller="Media" asp-action="@($"{item.MediaType}s")" asp-route-id="@item.Id">@item.Title</a></h6>
                                <p><i class="ion-android-star"></i><span>@($"{item.Rating:F1}")</span> /10</p>
                            </div>
                        </div>
                    }
                </div>
            </div>
        </div>
    </div>
}

<h1 style="font-family: 'Dosis', sans-serif; color: whitesmoke; font-size: 45px; text-align: center">Welcome to CinemaHub! For all your entertainment media needs.</h1>


