@model CinemaHub.Web.ViewModels.Media.MediaDetailsViewModel;
@section Hero
{
    <div class="hero mv-single-hero">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                </div>
            </div>
        </div>
    </div>

    <style>
        .mv-single-hero {
            background: url(/images/template/uploads/hero-bg.jpg) no-repeat;
        }
    </style>
}

@section Styles {
    <style>
        .rate2 {
            font-size: 35px;
            cursor: pointer;
        }

        .rate-hover-layer {
            color: #ffa500;
            cursor: pointer;
        }

        .rate-base-layer {
            color: gray;
            cursor: pointer;
        }

        .rate-select-layer {
            color: #d48900;
            cursor: pointer;
        }

        .rate-readonly {
            font-size: 25px;
        }

        .movie-single .movie-single-ct .tab .rv-hd {
            display: -webkit-flex;
            display: -moz-box;
            display: -ms-flexbox;
            display: flex;
            align-items: center;
            justify-content: flex-start;
        }

        .div {
            margin-right: 100px;
        }

        a.hvr-grow {
            font-family: 'Dosis', sans-serif;
        }

        .active-watch {
            font-weight: bold;
            text-decoration: underline;
        }

        #cookieConsent {
            position: absolute;
        }
    </style>
}
<div class="page-single movie-single movie_single">
    <div class="container">
        <div class="row ipad-width2">
            <div class="col-md-4 col-sm-12 col-xs-12">
                <div class="movie-img sticky-sb">
                    <img src="@Model.PosterPath" alt="">
                    <div class="movie-btn">
                        <div class="btn-transform transform-vertical red">
                            <div><a href="#" class="item item-1 redbtn"> <i class="ion-play"></i> Watch Trailer</a></div>
                            <div><a href="@Model.YoutubeTrailerUrl" class="item item-2 redbtn fancybox-media hvr-grow"><i class="ion-play"></i></a></div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-8 col-sm-12 col-xs-12">
                <div class="movie-single-ct main-content">
                <h1 class="bd-hd">@Model.Title<span> @Model.ReleaseDate.Year</span></h1>
                <div class="social-btn">
                    <a href="#" class="parent-btn"><i class="ion-android-share-alt"></i>share</a>
                    @if (this.SignInManager.IsSignedIn(this.User))
                    {
                        <div class="hover-bnt">
                            <a href="" id="watch-text" class="parent-btn"><i class="ion-heart watchlist-btn"></i> Add to Watchlist</a>
                            <input type="hidden" id="watchType" value="@Model.UserWatchType"/>
                            <div class="hvr-item">
                                <a href="" id="watch1" data-value="onwatchlist" style="color: aliceblue;" class="hvr-grow">Want to watch</a>
                                <a href="" id="watch2" data-value="completed" style="color: green" class="hvr-grow">Completed</a>
                                <a href="" id="watch3" data-value="dropped" style="color: darkred" class="hvr-grow">Dropped</a>
                                <a href="" id="watch4" data-value="currentlywatched" style="color: orange" class="hvr-grow">In progress</a>
                            </div>
                        </div>
                    }
                </div>
                <div class="movie-rate">
                        <div class="rate">
                            <i class="ion-android-star"></i>
                            <p>
                                <span id="rating-average">@string.Format("{0:F1}", Model.AverageRating)</span> /10<br>
                                <span id="rating-count" class="rv">@Model.RatingCount Ratings</span>
                            </p>
                        </div>
                        @if (this.SignInManager.IsSignedIn(this.User))
                        {
                            <div class="rate-star">
                                <div class="rate2" data-rate-value=@Model.CurrentUserRating></div>
                            </div>
                        }
                        <input type="hidden" id="MediaId" value="@Model.Id" />
                        <form method="post" id="antiForgeryForm" hidden></form>
                    </div>
                    <div class="movie-tabs">
                        <div class="tabs">
                            <ul class="tab-links tabs-mv">
                                <li class="active"><a href="#overview">Overview</a></li>
                                <li><a href="#reviews"> Reviews</a></li>
                                <li><a href="#cast">Discussions</a></li>
                                <li><a href="#media"> Photos</a></li>
                            </ul>
                            <div class="tab-content">
                                <div id="overview" class="tab active">
                                    <div class="row">
                                        <div class="col-md-8 col-sm-12 col-xs-12">
                                            <p>@Model.Overview</p>
                                            <!-- movie cast -->
                                            <!-- movie user review -->
                                        </div>
                                        <div class="col-md-4 col-xs-12 col-sm-12">
                                            @if(this.SignInManager.IsSignedIn(this.User))
                                                {
                                                <div class="sb-it">
                                                <a class="signoutbtn" style="margin-left: 15px" asp-controller="Media" asp-action="Edit" asp-route-id="@Model.Id">Edit</a>
                                                </div>
                                                }
                                                <div class="sb-it">
                                                <h6>Genres:</h6>
                                                <p>
                                                    @foreach (var genre in Model.GenresList)
                                                    {
                                                        <a href="#">@genre</a>
                                                    }
                                                </p>
                                            </div>
                                            <div class="sb-it">
                                                <h6>Release Date:</h6>
                                                <p>@Model.ReleaseDate.ToString("dd MMMM yyyy")</p>
                                            </div>
                                            <div class="sb-it">
                                                <h6>Run Time:</h6>
                                                <p>@Model.Runtime min</p>
                                            </div>
                                            <div class="sb-it">
                                                <h6>Budget</h6>
                                                <p>@Model.Budget $</p>
                                            </div>
                                            <div class="sb-it">
                                                <h6>Plot Keywords:</h6>
                                                <p class="tags">
                                                    @foreach (var keyword in Model.Keywords)
                                                    {
                                                        <span class="time"><a asp-controller="Media" asp-action="All">@keyword.Value</a></span>
                                                    }
                                                </p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div id="reviews" class="tab review">
                                    <div class="row">
                                        <div class="rv-hd">
                                            <div class="div">
                                                <h3>Reviews of</h3>
                                                <h2>@Model.Title</h2>
                                            </div>
                                            @if (this.SignInManager.IsSignedIn(this.User))
                                            {
                                                <a asp-controller="Reviews" asp-action="Add" asp-route-mediaId="@Model.Id" class="signoutbtn">Write Review</a>
                                            }
                                        </div>
                                        <div class="topbar-filter">
                                            <p>Found <span>@Model.ReviewCount reviews</span> in total</p>
                                            <input id="totalReviews" type="hidden" value="@Model.ReviewCount" />
                                            <label>Filter by:</label>
                                            <select>
                                                <option value="popularity">Popularity Descending</option>
                                                <option value="popularity">Popularity Ascending</option>
                                                <option value="rating">Rating Descending</option>
                                                <option value="rating">Rating Ascending</option>
                                                <option value="date">Release date Descending</option>
                                                <option value="date">Release date Ascending</option>
                                            </select>
                                        </div>

                                    </div>

                                    <div class="rv-hd">
                                        <button id="loadBtn" class="signoutbtn" type="button" style="margin-top: 20px; width: 90%; text-align: center;">Load More</button>
                                    </div>
                                </div>
                                <div id="cast" class="tab">
                                    <div class="row">
                                        <a class="redbtn" asp-controller="Discussions" asp-action="All" asp-route-mediaId="@Model.Id">Go to discussions</a>
                                    </div>
                                    <p> </p>
                                    </div>
                                <div id="media" class="tab">
                                    <div class="row">
                                        <div class="rv-hd">
                                            <div>
                                                <h3>Videos & Photos of</h3>
                                                <h2>Skyfall: Quantum of Spectre</h2>
                                            </div>
                                        </div>
                                        <div class="title-hd-sm">
                                            <h4>Videos <span>(8)</span></h4>
                                        </div>
                                        <div class="mvsingle-item media-item">
                                            <div class="vd-item">
                                                <div class="vd-it">
                                                    <img class="vd-img" src="images/uploads/vd-item1.jpg" alt="">
                                                    <a class="fancybox-media hvr-grow" href="https://www.youtube.com/embed/o-0hcF97wy0"><img src="images/uploads/play-vd.png" alt=""></a>
                                                </div>
                                                <div class="vd-infor">
                                                    <h6> <a href="#">Trailer: Watch New Scenes</a></h6>
                                                    <p class="time"> 1: 31</p>
                                                </div>
                                            </div>
                                            <div class="vd-item">
                                                <div class="vd-it">
                                                    <img class="vd-img" src="images/uploads/vd-item2.jpg" alt="">
                                                    <a class="fancybox-media hvr-grow" href="https://www.youtube.com/embed/o-0hcF97wy0"><img src="images/uploads/play-vd.png" alt=""></a>
                                                </div>
                                                <div class="vd-infor">
                                                    <h6> <a href="#">Featurette: “Avengers Re-Assembled</a></h6>
                                                    <p class="time"> 1: 03</p>
                                                </div>
                                            </div>
                                            <div class="vd-item">
                                                <div class="vd-it">
                                                    <img class="vd-img" src="images/uploads/vd-item3.jpg" alt="">
                                                    <a class="fancybox-media hvr-grow" href="https://www.youtube.com/embed/o-0hcF97wy0"><img src="images/uploads/play-vd.png" alt=""></a>
                                                </div>
                                                <div class="vd-infor">
                                                    <h6> <a href="#">Interview: Robert Downey Jr</a></h6>
                                                    <p class="time"> 3:27</p>
                                                </div>
                                            </div>
                                            <div class="vd-item">
                                                <div class="vd-it">
                                                    <img class="vd-img" src="images/uploads/vd-item4.jpg" alt="">
                                                    <a class="fancybox-media hvr-grow" href="https://www.youtube.com/embed/o-0hcF97wy0"><img src="images/uploads/play-vd.png" alt=""></a>
                                                </div>
                                                <div class="vd-infor">
                                                    <h6> <a href="#">Interview: Scarlett Johansson</a></h6>
                                                    <p class="time"> 3:27</p>
                                                </div>
                                            </div>
                                            <div class="vd-item">
                                                <div class="vd-it">
                                                    <img class="vd-img" src="images/uploads/vd-item1.jpg" alt="">
                                                    <a class="fancybox-media hvr-grow" href="https://www.youtube.com/embed/o-0hcF97wy0"><img src="images/uploads/play-vd.png" alt=""></a>
                                                </div>
                                                <div class="vd-infor">
                                                    <h6> <a href="#">Featurette: Meet Quicksilver & The Scarlet Witch</a></h6>
                                                    <p class="time"> 1: 31</p>
                                                </div>
                                            </div>
                                            <div class="vd-item">
                                                <div class="vd-it">
                                                    <img class="vd-img" src="images/uploads/vd-item2.jpg" alt="">
                                                    <a class="fancybox-media hvr-grow" href="https://www.youtube.com/embed/o-0hcF97wy0"><img src="images/uploads/play-vd.png" alt=""></a>
                                                </div>
                                                <div class="vd-infor">
                                                    <h6> <a href="#">Interview: Director Joss Whedon</a></h6>
                                                    <p class="time"> 1: 03</p>
                                                </div>
                                            </div>
                                            <div class="vd-item">
                                                <div class="vd-it">
                                                    <img class="vd-img" src="images/uploads/vd-item3.jpg" alt="">
                                                    <a class="fancybox-media hvr-grow" href="https://www.youtube.com/embed/o-0hcF97wy0"><img src="images/uploads/play-vd.png" alt=""></a>
                                                </div>
                                                <div class="vd-infor">
                                                    <h6> <a href="#">Interview: Mark Ruffalo</a></h6>
                                                    <p class="time"> 3:27</p>
                                                </div>
                                            </div>
                                            <div class="vd-item">
                                                <div class="vd-it">
                                                    <img class="vd-img" src="images/uploads/vd-item4.jpg" alt="">
                                                    <a class="fancybox-media hvr-grow" href="https://www.youtube.com/embed/o-0hcF97wy0"><img src="images/uploads/play-vd.png" alt=""></a>
                                                </div>
                                                <div class="vd-infor">
                                                    <h6> <a href="#">Official Trailer #2</a></h6>
                                                    <p class="time"> 3:27</p>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="title-hd-sm">
                                            <h4>Photos <span> (21)</span></h4>
                                        </div>
                                        <div class="mvsingle-item">
                                            <a class="img-lightbox" data-fancybox-group="gallery" href="images/uploads/image11.jpg"><img src="images/uploads/image1.jpg" alt=""></a>
                                            <a class="img-lightbox" data-fancybox-group="gallery" href="images/uploads/image21.jpg"><img src="images/uploads/image2.jpg" alt=""></a>
                                            <a class="img-lightbox" data-fancybox-group="gallery" href="images/uploads/image31.jpg"><img src="images/uploads/image3.jpg" alt=""></a>
                                            <a class="img-lightbox" data-fancybox-group="gallery" href="images/uploads/image41.jpg"><img src="images/uploads/image4.jpg" alt=""></a>
                                            <a class="img-lightbox" data-fancybox-group="gallery" href="images/uploads/image51.jpg"><img src="images/uploads/image5.jpg" alt=""></a>
                                            <a class="img-lightbox" data-fancybox-group="gallery" href="images/uploads/image61.jpg"><img src="images/uploads/image6.jpg" alt=""></a>
                                            <a class="img-lightbox" data-fancybox-group="gallery" href="images/uploads/image71.jpg"><img src="images/uploads/image7.jpg" alt=""></a>
                                            <a class="img-lightbox" data-fancybox-group="gallery" href="images/uploads/image81.jpg"><img src="images/uploads/image8.jpg" alt=""></a>
                                            <a class="img-lightbox" data-fancybox-group="gallery" href="images/uploads/image91.jpg"><img src="images/uploads/image9.jpg" alt=""></a>
                                            <a class="img-lightbox" data-fancybox-group="gallery" href="images/uploads/image101.jpg"><img src="images/uploads/image10.jpg" alt=""></a>
                                            <a class="img-lightbox" data-fancybox-group="gallery" href="images/uploads/image111.jpg"><img src="images/uploads/image1-1.jpg" alt=""></a>
                                            <a class="img-lightbox" data-fancybox-group="gallery" href="images/uploads/image121.jpg"><img src="images/uploads/image12.jpg" alt=""></a>
                                            <a class="img-lightbox" data-fancybox-group="gallery" href="images/uploads/image131.jpg"><img src="images/uploads/image13.jpg" alt=""></a>
                                            <a class="img-lightbox" data-fancybox-group="gallery" href="images/uploads/image141.jpg"><img src="images/uploads/image14.jpg" alt=""></a>
                                            <a class="img-lightbox" data-fancybox-group="gallery" href="images/uploads/image151.jpg"><img src="images/uploads/image15.jpg" alt=""></a>
                                            <a class="img-lightbox" data-fancybox-group="gallery" href="images/uploads/image161.jpg"><img src="images/uploads/image16.jpg" alt=""></a>
                                            <a class="img-lightbox" data-fancybox-group="gallery" href="images/uploads/image171.jpg"><img src="images/uploads/image17.jpg" alt=""></a>
                                            <a class="img-lightbox" data-fancybox-group="gallery" href="images/uploads/image181.jpg"><img src="images/uploads/image18.jpg" alt=""></a>
                                            <a class="img-lightbox" data-fancybox-group="gallery" href="images/uploads/image191.jpg"><img src="images/uploads/image19.jpg" alt=""></a>
                                            <a class="img-lightbox" data-fancybox-group="gallery" href="images/uploads/image201.jpg"><img src="images/uploads/image20.jpg" alt=""></a>
                                            <a class="img-lightbox" data-fancybox-group="gallery" href="images/uploads/image211.jpg"><img src="images/uploads/image2-1.jpg" alt=""></a>
                                        </div>
                                    </div>
                                </div>
                                <div id="moviesrelated" class="tab">
                                    <div class="row">
                                        <h3>Related Movies To</h3>
                                        <h2>Skyfall: Quantum of Spectre</h2>
                                        <div class="topbar-filter">
                                            <p>Found <span>12 movies</span> in total</p>
                                            <label>Sort by:</label>
                                            <select>
                                                <option value="popularity">Popularity Descending</option>
                                                <option value="popularity">Popularity Ascending</option>
                                                <option value="rating">Rating Descending</option>
                                                <option value="rating">Rating Ascending</option>
                                                <option value="date">Release date Descending</option>
                                                <option value="date">Release date Ascending</option>
                                            </select>
                                        </div>
                                        <div class="movie-item-style-2">
                                            <img src="images/uploads/mv1.jpg" alt="">
                                            <div class="mv-item-infor">
                                                <h6><a href="#">oblivion <span>(2012)</span></a></h6>
                                                <p class="rate"><i class="ion-android-star"></i><span>8.1</span> /10</p>
                                                <p class="describe">Earth's mightiest heroes must come together and learn to fight as a team if they are to stop the mischievous Loki and his alien army from enslaving humanity...</p>
                                                <p class="run-time"> Run Time: 2h21’ . <span>MMPA: PG-13 </span> . <span>Release: 1 May 2015</span></p>
                                                <p>Director: <a href="#">Joss Whedon</a></p>
                                                <p>Stars: <a href="#">Robert Downey Jr.,</a> <a href="#">Chris Evans,</a> <a href="#"> Chris Hemsworth</a></p>
                                            </div>
                                        </div>
                                        <div class="movie-item-style-2">
                                            <img src="images/uploads/mv2.jpg" alt="">
                                            <div class="mv-item-infor">
                                                <h6><a href="#">into the wild <span>(2014)</span></a></h6>
                                                <p class="rate"><i class="ion-android-star"></i><span>7.8</span> /10</p>
                                                <p class="describe">As Steve Rogers struggles to embrace his role in the modern world, he teams up with a fellow Avenger and S.H.I.E.L.D agent, Black Widow, to battle a new threat...</p>
                                                <p class="run-time"> Run Time: 2h21’ . <span>MMPA: PG-13 </span> . <span>Release: 1 May 2015</span></p>
                                                <p>Director: <a href="#">Anthony Russo,</a><a href="#">Joe Russo</a></p>
                                                <p>Stars: <a href="#">Chris Evans,</a> <a href="#">Samuel L. Jackson,</a> <a href="#"> Scarlett Johansson</a></p>
                                            </div>
                                        </div>
                                        <div class="movie-item-style-2">
                                            <img src="images/uploads/mv3.jpg" alt="">
                                            <div class="mv-item-infor">
                                                <h6><a href="#">blade runner <span>(2015)</span></a></h6>
                                                <p class="rate"><i class="ion-android-star"></i><span>7.3</span> /10</p>
                                                <p class="describe">Armed with a super-suit with the astonishing ability to shrink in scale but increase in strength, cat burglar Scott Lang must embrace his inner hero and help...</p>
                                                <p class="run-time"> Run Time: 2h21’ . <span>MMPA: PG-13 </span> . <span>Release: 1 May 2015</span></p>
                                                <p>Director: <a href="#">Peyton Reed</a></p>
                                                <p>Stars: <a href="#">Paul Rudd,</a> <a href="#"> Michael Douglas</a></p>
                                            </div>
                                        </div>
                                        <div class="movie-item-style-2">
                                            <img src="images/uploads/mv4.jpg" alt="">
                                            <div class="mv-item-infor">
                                                <h6><a href="#">Mulholland pride<span> (2013) </span></a></h6>
                                                <p class="rate"><i class="ion-android-star"></i><span>7.2</span> /10</p>
                                                <p class="describe">When Tony Stark's world is torn apart by a formidable terrorist called the Mandarin, he starts an odyssey of rebuilding and retribution.</p>
                                                <p class="run-time"> Run Time: 2h21’ . <span>MMPA: PG-13 </span> . <span>Release: 1 May 2015</span></p>
                                                <p>Director: <a href="#">Shane Black</a></p>
                                                <p>Stars: <a href="#">Robert Downey Jr., </a> <a href="#"> Guy Pearce,</a><a href="#">Don Cheadle</a></p>
                                            </div>
                                        </div>
                                        <div class="movie-item-style-2">
                                            <img src="images/uploads/mv5.jpg" alt="">
                                            <div class="mv-item-infor">
                                                <h6><a href="#">skyfall: evil of boss<span> (2013) </span></a></h6>
                                                <p class="rate"><i class="ion-android-star"></i><span>7.0</span> /10</p>
                                                <p class="describe">When Tony Stark's world is torn apart by a formidable terrorist called the Mandarin, he starts an odyssey of rebuilding and retribution.</p>
                                                <p class="run-time"> Run Time: 2h21’ . <span>MMPA: PG-13 </span> . <span>Release: 1 May 2015</span></p>
                                                <p>Director: <a href="#">Alan Taylor</a></p>
                                                <p>Stars: <a href="#">Chris Hemsworth, </a> <a href="#"> Natalie Portman,</a><a href="#">Tom Hiddleston</a></p>
                                            </div>
                                        </div>
                                        <div class="topbar-filter">
                                            <label>Movies per page:</label>
                                            <select>
                                                <option value="range">5 Movies</option>
                                                <option value="saab">10 Movies</option>
                                            </select>
                                            <div class="pagination2">
                                                <span>Page 1 of 2:</span>
                                                <a class="active" href="#">1</a>
                                                <a href="#">2</a>
                                                <a href="#"><i class="ion-arrow-right-b"></i></a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

@section Scripts {
    <script src="~/js/rater/rater.min.js" asp-append-version="true"></script>
    <script src="~/js/rater/rater-custom.js" asp-append-version="true"></script>
    <script src="~/js/reviews.js" asp-append-version="true"></script>
    <script src="~/js/watchlist.js" asp-append-version="true"></script>
}
