@model CinemaHub.Web.ViewModels.Media.MediaGridViewModel;

@{
    var action = ViewContext.RouteData.Values["Action"].ToString();
    int currPage = int.Parse(Context.Request.Query["page"].ToString());
    this.ViewData["Title"] = action;
}

<div class="page-single">
    <div class="container">
        <div class="row ipad-width">
            <div class="col-md-8 col-sm-12 col-xs-12">
                <div class="topbar-filter">
                    <p>Found <span>@Model.ResultsFound @action</span> in total</p>
                    <label>Sort by:</label>
                    <select>
                        <option value="popularity">A-Z</option>
                        <option value="popularity">Popularity Descending</option>
                        <option value="popularity">Popularity Ascending</option>
                        <option value="rating">Rating Descending</option>
                        <option value="rating">Rating Ascending</option>
                        <option value="date">Release date Descending</option>
                        <option value="date">Release date Ascending</option>
                    </select>
                    <a href="movielist.html" class="list"><i class="ion-ios-list-outline "></i></a>
                    <a href="moviegrid.html" class="grid"><i class="ion-grid active"></i></a>
                </div>
                <div class="flex-wrap-movielist">
                    @foreach (var movie in Model.Medias)
                    {
                        <div class="movie-item-style-2 movie-item-style-1">
                            <img src="@movie.ImagePath" alt="">
                            <div class="hvr-inner">
                                <a asp-controller="Media" asp-action="@String.Concat(movie.MediaType, "s")" asp-route-id="@movie.Id"> Read more <i class="ion-android-arrow-dropright"></i> </a>
                            </div>
                            <div class="mv-item-infor">
                                <h6><a asp-controller="Media" asp-action="@String.Concat(movie.MediaType, "s")" asp-route-id="@movie.Id">@movie.Title</a></h6>
                                <p class="rate"><i class="ion-android-star"></i><span>8.1</span> /10</p>
                            </div>
                        </div>
                    }                  
                </div>
                <div class="topbar-filter">
                    <label>Movies per page:</label>
                    <select>
                        <option value="range">20 @action</option>
                        <option value="saab">10 @action</option>
                    </select>

                    <div class="pagination2">
                        <span>Page @currPage of @Model.TotalPages</span>

                        @if (currPage > 3)
                        {
                            <a asp-controller="Media" asp-action="@Model.MediaType" asp-route-page="i">i - 3</a>
                        }
                        @if (currPage > 2)
                        {
                            <a asp-controller="Media" asp-action="@Model.MediaType" asp-route-page="i">i - 2</a>
                        }
                        @if (currPage > 1)
                        {
                            <a asp-controller="Media" asp-action="@Model.MediaType" asp-route-page="i">i - 1</a>
                        }

                        <a class="active" asp-controller="Media" asp-action="@Model.MediaType" asp-route-page="i">i</a>

                        @if (currPage < Model.TotalPages - 1)
                        {
                            <a asp-controller="Media" asp-action="@Model.MediaType" asp-route-page="i">i + 1</a>
                        }
                        @if (currPage < Model.TotalPages - 2)
                        {
                            <a asp-controller="Media" asp-action="@Model.MediaType" asp-route-page="i">i + 2</a>
                        }
                        @if (currPage < Model.TotalPages - 3)
                        {
                            <a asp-controller="Media" asp-action="@Model.MediaType" asp-route-page="i">i + 3</a>
                        }

                    </div>
                </div>
            </div>
            <div class="col-md-4 col-sm-12 col-xs-12">
                <div class="sidebar">
                    <div class="searh-form">
                        <h4 class="sb-title">Search for movie</h4>
                        <form class="form-style-1" action="#">
                            <div class="row">
                                <div class="col-md-12 form-it">
                                    <label>Movie name</label>
                                    <input type="text" placeholder="Enter keywords">
                                </div>
                                <div class="col-md-12 form-it">
                                    <label>Genres & Subgenres</label>
                                    <div class="group-ip">
                                        <select name="skills" multiple="" class="ui fluid dropdown">
                                            <option value="">Enter to filter genres</option>
                                            <option value="Action1">Action 1</option>
                                            <option value="Action2">Action 2</option>
                                            <option value="Action3">Action 3</option>
                                            <option value="Action4">Action 4</option>
                                            <option value="Action5">Action 5</option>
                                        </select>
                                    </div>
                                </div>
                                <div class="col-md-12 form-it">
                                    <label>Rating Range</label>
                                    <select>
                                        <option value="range">-- Select the rating range below --</option>
                                        <option value="saab">-- Select the rating range below --</option>
                                    </select>
                                </div>
                                <div class="col-md-12 form-it">
                                    <label>Release Year</label>
                                    <div class="row">
                                        <div class="col-md-6">
                                            <select>
                                                <option value="range">From</option>
                                                <option value="number">10</option>
                                            </select>
                                        </div>
                                        <div class="col-md-6">
                                            <select>
                                                <option value="range">To</option>
                                                <option value="number">20</option>
                                            </select>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-12 ">
                                    <input class="submit" type="submit" value="submit">
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
